<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="bread" class="com.section03.common.ProductDTO">
        <constructor-arg index="0" value="잉어빵"/>
        <constructor-arg index="1" value="1500"/>
    </bean>
    <bean id="owner" class="com.section03.common.Owner">

    </bean>


</beans>